body {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

a {
    color: #e2494b !important;
}

#navbar li {
    margin: 1rem;
}

#navbar li a {
    color: white;
    padding: 0;
}

#navbar li a:hover, #navbar li a:active {
    color: #ee9395;
}

.red-button {
    background-color: #e2494b !important;
    border-radius: 10px; 
}

.navbar-toggler {
    background-color: #e2494b;
}

.navbar-toggler span {
    color: white;
}

.dropdown-menu {
    background-color: #e2494b;
}

#main-page h3 {
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 80%;
}

.carousel-caption {
    bottom: 41.5%;
}

.carousel-caption h5 {
    font-size: 2rem;
}

.carousel-indicators {
    position: relative;
    margin: 0;
    margin-top: 6px;
}

.carousel-indicators li {
    background-color: #cccccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators li.active {
    width: 6px;
    height: 6px;
    background-color: white;
    border: 2px #353535 solid;
}

.title-button {
    font-size: 20px;
    position: relative;
    top: -18px;
    display: inline;
    margin: 0 auto;
    border-radius: 7px;
}

.title {
    font-size: 20px !important;
    margin-bottom: 0;
    color: #999999;
}

.service-item p {
    font-size: 14px;
    color: #999999;
}

.service-item a {
    color: #e2494b;
    font-size: 14px;
}

.player-item {
    color: #999999;
}

.player-item .name {
    font-size: 13px;
}

.player-item .player-info {
    font-size: 13px;
}

.player-item a {
    color: #e2494b;
    font-size: 14px;
}

#footer {
    background-color: #e2e2e2 !important;
}

#footer h3 {
    font-size: 17px;
}

.latest-item-title {
    color: #e2494b;
    font-weight: bold;
    font-size: 14px !important;
}

.latest-item-info {
    color: #999999;
    font-size: 13px;
    text-justify: auto;
}

.company-details ul {
    font-size: 13px;
    color: #999999;
    padding-left: 0;
}


.company-details ul li {
    list-style: none;
}

.company-details ul li a {
    color: #e2494b;
}

form input::placeholder, form textarea::placeholder  {
    font-size: 14px;
}

.border-bottom-custom {
    border-bottom: 1pt solid #989898;
}

.copyright {
    color: #999999;
    font-size: 13px;
}